

<div class="container">
    <section class="profile">
        <div class="image"><img src="assets\istockphoto-1369578441-170667a.jpg"  alt="user pic"> <h2>Alex johnson <br> <h4>alexjohnson@gmail.com</h4> <br><button> Edit Profile</button></h2>
          
       </div>
       
        </section>
        
        
        <section class="container">
         <div class="grid-container">
            <div class="grid-item">

                <h1>BIO ---------------------------------------------</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit ad molestiae vel fuga libero. Consectetur, ex? Voluptatum, </p>
 <br><br><br><br>
              <h1>BASIC INFORMATION</h1>
              <label>DOB</label> <label>10/10/10</label><br>
              <label>Gender</label> <label>female</label><br>
              <label>Height</label> <label>25</label><br>
              <label>Interest</label> <label>catering baking sports.</label>

            </div>
            <div class="grid-item">

                <h1>CONTACT INFO ---------------------------------------</h1>
                <label>PHONE NUMBER</label><label>+2348223455489</label><br>
                <label>ADDRESS</label><label>No. 10 owie str off peanut road edo state</label>    
                <br><br><br><br>
      
                
                <h1>SKILL----------------------------------------</h1>
                <label>Occupation</label><label>product engineer</label><br>
                <label>Relationship</label><label>single</label>
            </div>
             
                
       
         </div>
         
        </section>
        
</div>