<h2>Why url shortener?</h2>

<div class="container">
    <div class="card">
        <img src="assets\photo\OIP.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Easy To Use</b></h4>
 
        </div>
      </div>
      <div class="card">
        <img src="assets\photo\hhh.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Fast</b></h4>
          
        </div>
      </div>
      <div class="card">
        <img src="assets\photo\download.jpg" alt="Avatar" style="width:100%">
        <div class="container">
          <h4><b>Reliable</b></h4>
          
        </div>
      </div>
</div>